/* Pagination */
@import url('../../node_modules/semantic-ui-css/components/menu.min.css');


body {
	box-sizing: border-box;
	color: #1e1b18;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	margin: auto;
	max-width: 1200px;
	padding: 0 20px;

	a {
		color: #f03765;
		text-decoration: none;

		&:hover {
			color: #7b0825;
			text-decoration: underline;
		}

		&:visited {
			color: #560016;
		}
	}
}
