<table>
	<tr>
		<th scope="col">Region</th>
		<th scope="col">rsu_raf</th>
		<th scope="col">nombre</th>
		<th scope="col">glosa</th>
		<th scope="col">fono</th>
		<th scope="col">glosa1</th>
		<th scope="col">Direccion</th>
		<th scope="col">Email</th>
		<th scope="col">Socios</th>
		<th scope="col">Socias</th>
		<th scope="col">FechaConstitucion</th>
		<th scope="col">Column1</th>
		<th scope="col">FechaUltimaDirectiva</th>
		<th scope="col">NombreOficina</th>
		<th scope="col">FechaDepositoEstatutos</th>
		<th scope="col">Empresa</th>
		<th scope="col">NombreDirigente</th>
		<th scope="col">InicioMandato</th>
		<th scope="col">FinMandato</th>
		<th scope="col">glosa2</th>
	</tr>
	<tr>
		<td>01</td>
		<td>01030016</td>
		<td>SINDICATO DE EMPRESA ACF NITRATO S.A.</td>
		<td>ACTIVO</td>
		<td>&nbsp;</td>
		<td>SINDICATO EMPRESA</td>
		<td>SERRANO N&#186;498</td>
		<td>&nbsp;</td>
		<td>64</td>
		<td>0</td>
		<td>24/02/2005</td>
		<td>&nbsp;</td>
		<td>05-04-2016 0:00:00</td>
		<td>ICT POZO ALMONTE</td>
		<td>09/03/2005</td>
		<td>: 99572020-5 ACF NITRATOS S.A.</td>
		<td>WALTER JAIME BARRAZA DIAZ</td>
		<td>29/04/2016</td>
		<td>13/09/2020</td>
		<td>PRESIDENTE</td>
	</tr>
	<tr>
		<td>01</td>
		<td>01030016</td>
		<td>SINDICATO DE EMPRESA ACF NITRATO S.A.</td>
		<td>ACTIVO</td>
		<td>&nbsp;</td>
		<td>SINDICATO EMPRESA</td>
		<td>SERRANO N&#186;498</td>
		<td>&nbsp;</td>
		<td>64</td>
		<td>0</td>
		<td>24/02/2005</td>
		<td>&nbsp;</td>
		<td>05-04-2016 0:00:00</td>
		<td>ICT POZO ALMONTE</td>
		<td>09/03/2005</td>
		<td>: 99572020-5 ACF NITRATOS S.A.</td>
		<td>SERGIO REYES ULLOA</td>
		<td>29/04/2016</td>
		<td>13/09/2020</td>
		<td>SECRETARIO</td>
	</tr>
	<tr>
		<td>01</td>
		<td>01030016</td>
		<td>SINDICATO DE EMPRESA ACF NITRATO S.A.</td>
		<td>ACTIVO</td>
		<td>&nbsp;</td>
		<td>SINDICATO EMPRESA</td>
		<td>SERRANO N&#186;498</td>
		<td>&nbsp;</td>
		<td>64</td>
		<td>0</td>
		<td>24/02/2005</td>
		<td>&nbsp;</td>
		<td>05-04-2016 0:00:00</td>
		<td>ICT POZO ALMONTE</td>
		<td>09/03/2005</td>
		<td>: 99572020-5 ACF NITRATOS S.A.</td>
		<td>JOSE LUIS ARAYA MANCILLA</td>
		<td>29/04/2016</td>
		<td>13/09/2020</td>
		<td>TESORERO</td>
	</tr>
	<tr>
		<td>01</td>
		<td>01010709</td>
		<td>FEDERACION NACIONAL PATRONES Y MOTORISTAS &quot;FENAPAM&quot;</td>
		<td>ACTIVO</td>
		<td>57-2321129</td>
		<td>FEDERACION DE SINDICATOS</td>
		<td>'EL MORRO BLOCK - B-1 DPTO. 103'</td>
		<td>NULL</td>
		<td>168</td>
		<td>0</td>
		<td>27/05/2016</td>
		<td>&nbsp;</td>
		<td>01-01-1980 0:00:00</td>
		<td>IPT IQUIQUE</td>
		<td>02/06/2016</td>
		<td>&nbsp;</td>
		<td>CARLOS FRANCISCO CHAVARINI VEGA</td>
		<td>27/05/2016</td>
		<td>13/09/2020</td>
		<td>PRESIDENTE</td>
	</tr>
	<tr>
		<td>01</td>
		<td>01010709</td>
		<td>SINDICATO</td>
		<td>ACTIVO</td>
		<td>57-2321129</td>
		<td>FEDERACION DE SINDICATOS</td>
		<td>DIRECCION</td>
		<td>NULL</td>
		<td>168</td>
		<td>0</td>
		<td>27/05/2016</td>
		<td>&nbsp;</td>
		<td>01-01-1980 0:00:00</td>
		<td>IPT IQUIQUE</td>
		<td>02/06/2016</td>
		<td>123-0 EMPRESA</td>
		<td>CARLOS FRANCISCO CHAVARINI VEGA</td>
		<td>27/05/2016</td>
		<td>13/09/2020</td>
		<td>PRESIDENTE</td>
	</tr>
</table>