.page-container {
	padding: 15px;
}

.union-list-container {
	article {
		background: #fff;
		border: 2px solid #d8315b;
		border-radius: 4px;
		margin: 15px 0;
		padding: 10px 15px;

		h3 {
			font-size: 20px;
			margin: 0;
			padding-bottom: 10px;
		}
    
		li {
			list-style: none;
		}
	}
}
